<h1>監査ログ</h1>
<mat-accordion class="audit-log-list" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        サーバー設定が更新されました
      </mat-panel-title>
      <mat-panel-description>
        2020年10月09日 00:00に@usernameが実行
        <mat-icon>settings</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>実行時間: 2020年10月09日 00:00</p>
    <p>実行ユーザー: @username</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        キューを全てキャンセルしました
      </mat-panel-title>
      <mat-panel-description>
        2020年10月09日 00:00に@usernameが実行
        <mat-icon>clear_all</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>実行時間: 2020年10月09日 00:00</p>
    <p>実行ユーザー: @username</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        データベースのバキュームを実行しました
      </mat-panel-title>
      <mat-panel-description>
        2020年10月09日 00:00に@usernameが実行
        <mat-icon>cleaning_services</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>実行時間: 2020年10月09日 00:00</p>
    <p>実行ユーザー: @username</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        チャートの再同期を実行しました
      </mat-panel-title>
      <mat-panel-description>
        2020年10月09日 00:00に@usernameが実行
        <mat-icon>show_chart</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>実行時間: 2020年10月09日 00:00</p>
    <p>実行ユーザー: @username</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        サイレンスしました
      </mat-panel-title>
      <mat-panel-description>
        2020年10月09日 00:00に@usernameが実行
        <mat-icon>voice_over_off</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>実行時間: 2020年10月09日 00:00</p>
    <p>実行ユーザー: @username</p>
    <p>対象ユーザー: @silenced_user</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        サイレンスを解除しました
      </mat-panel-title>
      <mat-panel-description>
        2020年10月09日 00:00に@usernameが実行
        <mat-icon>record_voice_over</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>実行時間: 2020年10月09日 00:00</p>
    <p>実行ユーザー: @username</p>
    <p>対象ユーザー: @silenced_user</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        絵文字を追加しました
      </mat-panel-title>
      <mat-panel-description>
        2020年10月09日 00:00に@usernameが実行
        <mat-icon>mood</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>実行時間: 2020年10月09日 00:00</p>
    <p>実行ユーザー: @username</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        絵文字を削除しました
      </mat-panel-title>
      <mat-panel-description>
        2020年10月09日 00:00に@usernameが実行
        <mat-icon>mood_bad</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>実行時間: 2020年10月09日 00:00</p>
    <p>実行ユーザー: @username</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        凍結しました
      </mat-panel-title>
      <mat-panel-description>
        2020年10月09日 00:00に@usernameが実行
        <mat-icon>remove_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>実行時間: 2020年10月09日 00:00</p>
    <p>実行ユーザー: @username</p>
    <p>対象ユーザー: @target_username</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        凍結を解除しました
      </mat-panel-title>
      <mat-panel-description>
        2020年10月09日 00:00に@usernameが実行
        <mat-icon>remove_circle_outline</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>実行時間: 2020年10月09日 00:00</p>
    <p>実行ユーザー: @username</p>
    <p>対象ユーザー: @target_username</p>
  </mat-expansion-panel>
</mat-accordion>
