
<!--suppress ALL -->
<div fxFlexFill fxLayoutAlign="start stretch" fxLayout="row">
  <div fxFlex="20%" class="side-menu" fxFlexFill fxShow fxHide.lt-md="true">
    <h1>インスタンス設定</h1>
    <p><i>※セクション移動はまだ機能しません</i></p>
    <ul>
      <li><a routerLink="/instance" fragment="basic">基本情報</a></li>
      <li><a routerLink="/instance" fragment="note-timeline">ノート・タイムライン</a></li>
    </ul>
    <button mat-raised-button color="primary" style="width: 100%;">保存</button>
  </div>
  <div fxFlex>
    <section id="basic">
      <h2>基本情報</h2>
      <mat-form-field appearance="outline">
        <mat-label>インスタンス名</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>インスタンスの説明</mat-label>
        <textarea matInput></textarea>
        <mat-hint>未ログイン時のトップ画面やインスタンス情報ページに表示されます。HTMLタグが使用できます。</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>アイコン画像のURL</mat-label>
        <input matInput type="url" [formControl]="iconUrl">
        <mat-error *ngIf="iconUrl.invalid">URLの形式が正しくありません。</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>バナー画像のURL</mat-label>
        <input matInput type="url" [formControl]="bannerUrl">
        <mat-error *ngIf="bannerUrl.invalid">URLの形式が正しくありません。</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>利用規約のURL</mat-label>
        <input matInput type="url" [formControl]="termUrl">
        <mat-error *ngIf="termUrl.invalid">URLの形式が正しくありません。</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>管理者名</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>管理者メールアドレス</mat-label>
        <input matInput type="email" [formControl]="adminEmail">
        <mat-error *ngIf="adminEmail.invalid">Eメールの形式が正しくありません。</mat-error>
      </mat-form-field>
    </section>

    <mat-divider></mat-divider>

    <section id="note-timeline">
      <h2>ノート・タイムライン</h2>
      <mat-form-field appearance="outline">
        <mat-label>ノートの最大文字数</mat-label>
        <input matInput type="number" [formControl]="noteLengthForm">
        <mat-error *ngIf="noteLengthForm">{{getNoteLengthError()}}</mat-error>
      </mat-form-field>

      <section class="checkbox-section">
        <mat-checkbox>ローカルタイムライン（ソーシャルタイムライン含む）を有効にする</mat-checkbox>
      </section>
      <section class="checkbox-section">
        <mat-checkbox>グローバルタイムラインを有効にする</mat-checkbox>
      </section>
      <mat-card>
        <mat-icon aria-hidden="false">info</mat-icon> 管理者やモデレーターの場合は、タイムライン無効設定に関係なく表示することができます。
      </mat-card>
      <section class="checkbox-section" style="margin-top: 10px;">
        <mat-checkbox>リアクション絵文字が不明な場合（Mastodonからのお気に入りなど）は、★のリアクションにする</mat-checkbox>
      </section>
    </section>

    <mat-divider></mat-divider>

    <section id="register">
      <h2>登録</h2>
      <section class="checkbox-section">
        <mat-checkbox [(ngModel)]="openRegister">登録オープン（チェックを外すと招待制になります）</mat-checkbox>
      </section>
      <button mat-raised-button color="primary" [disabled]="openRegister" style="width: 100%">
        招待コードを作成する
      </button>
    </section>
  </div>
</div>
