<!--suppress ALL -->
<div fxFlexFill fxLayout="row" fxLayoutAlign="start stretch">
  <div class="side-menu" fxFlex="20%" fxFlexFill fxHide.lt-md="true" fxShow>
    <h1>インスタンス設定</h1>
    <p><i>※セクション移動はまだ機能しません</i></p>
    <ul>
      <li><a fragment="basic" routerLink="/instance">基本情報</a></li>
      <li><a fragment="note-timeline" routerLink="/instance">ノート・タイムライン</a></li>
    </ul>
    <button color="primary" mat-raised-button style="width: 100%;">保存</button>
  </div>
  <div fxFlex>
    <section id="basic">
      <h2>基本情報</h2>
      <mat-form-field appearance="outline">
        <mat-label>インスタンス名</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>インスタンスの説明</mat-label>
        <textarea matInput></textarea>
        <mat-hint>未ログイン時のトップ画面やインスタンス情報ページに表示されます。HTMLタグが使用できます。</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>アイコン画像のURL</mat-label>
        <input [formControl]="iconUrl" matInput type="url">
        <mat-error *ngIf="iconUrl.invalid">URLの形式が正しくありません。</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>バナー画像のURL</mat-label>
        <input [formControl]="bannerUrl" matInput type="url">
        <mat-error *ngIf="bannerUrl.invalid">URLの形式が正しくありません。</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>利用規約のURL</mat-label>
        <input [formControl]="termUrl" matInput type="url">
        <mat-error *ngIf="termUrl.invalid">URLの形式が正しくありません。</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>管理者名</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>管理者メールアドレス</mat-label>
        <input [formControl]="adminEmail" matInput type="email">
        <mat-error *ngIf="adminEmail.invalid">Eメールの形式が正しくありません。</mat-error>
      </mat-form-field>
    </section>

    <mat-divider></mat-divider>

    <section id="note-timeline">
      <h2>ノート・タイムライン</h2>
      <mat-form-field appearance="outline">
        <mat-label>ノートの最大文字数</mat-label>
        <input [formControl]="noteLengthForm" matInput type="number">
        <mat-error *ngIf="noteLengthForm">{{getNoteLengthError()}}</mat-error>
      </mat-form-field>

      <section class="checkbox-section">
        <mat-checkbox>ローカルタイムライン（ソーシャルタイムライン含む）を有効にする</mat-checkbox>
      </section>
      <section class="checkbox-section">
        <mat-checkbox>グローバルタイムラインを有効にする</mat-checkbox>
      </section>
      <mat-card>
        <mat-card-content>
          <mat-icon aria-hidden="false">info</mat-icon>
          管理者やモデレーターの場合は、タイムライン無効設定に関係なく表示することができます。
        </mat-card-content>
      </mat-card>
      <section class="checkbox-section" style="margin-top: 10px;">
        <mat-checkbox>リアクション絵文字が不明な場合（Mastodonからのお気に入りなど）は、★のリアクションにする</mat-checkbox>
      </section>
    </section>

    <mat-divider></mat-divider>

    <section id="register">
      <h2>登録</h2>
      <section class="checkbox-section">
        <mat-checkbox [(ngModel)]="openRegister">登録オープン（チェックを外すと招待制になります）</mat-checkbox>
      </section>
      <button [disabled]="openRegister" color="primary" mat-raised-button style="width: 100%">
        招待コードを作成する
      </button>
      <h3>reCAPTCHA</h3>
        <mat-card *ngIf="useHCaptcha" style="margin-bottom: 16px;">
          <mat-card-content>
            <mat-icon aria-hidden="false">warning</mat-icon>
            hCaptchaが有効になっています。複数使用すると正常にアカウント登録が行えない場合があります。
          </mat-card-content>
        </mat-card>
        <section class="checkbox-section">
          <mat-checkbox [(ngModel)]="useReCAPTCHA">reCAPTCHAを使用する</mat-checkbox>
        </section>
        <mat-form-field appearance="outline">
          <mat-label>サイトキー</mat-label>
          <input [disabled]="!useReCAPTCHA" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>シークレットキー</mat-label>
          <input [disabled]="!useReCAPTCHA" matInput>
        </mat-form-field>
      <h3>hCaptcha</h3>
        <section class="checkbox-section">
          <mat-checkbox [(ngModel)]="useHCaptcha">hCaptchaを使用する</mat-checkbox>
        </section>
        <mat-card *ngIf="useReCAPTCHA" style="margin-bottom: 16px;">
          <mat-card-content>
            <mat-icon aria-hidden="false">warning</mat-icon>
            reCAPTCHAが有効になっています。複数使用すると正常にアカウント登録が行えない場合があります。
          </mat-card-content>
        </mat-card>
        <mat-form-field appearance="outline">
          <mat-label>サイトキー</mat-label>
          <input [disabled]="!useHCaptcha" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>シークレットキー</mat-label>
          <input [disabled]="!useHCaptcha" matInput>
        </mat-form-field>
    </section>

    <mat-divider></mat-divider>

    <section id="mailServer">
      <h2>メールサーバー</h2>
      <section class="checkbox-section">
        <mat-checkbox [(ngModel)]="useMailServer">メールサーバーを利用する</mat-checkbox>
      </section>
      <mat-form-field appearance="outline">
        <mat-label>Fromメールアドレス</mat-label>
        <input [disabled]="!useMailServer" matInput type="email">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>SMTPサーバーアドレス</mat-label>
        <input [disabled]="!useMailServer" matInput>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>SMTPサーバーポート</mat-label>
        <input [disabled]="!useMailServer" matInput type="number">
      </mat-form-field>
      <mat-card style="margin-bottom: 16px;">
        <mat-card-content>
          <mat-icon aria-hidden="false">info</mat-icon>
          SMTP認証を使用しない場合は、SMTP認証ユーザー名とSMTP認証パスワードを空欄にします。
        </mat-card-content>
      </mat-card>
      <mat-form-field appearance="outline">
        <mat-label>SMTP認証ユーザー名</mat-label>
        <input [disabled]="!useMailServer" matInput>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>SMTP認証パスワード</mat-label>
        <input [disabled]="!useMailServer" matInput>
      </mat-form-field>
      <section class="checkbox-section">
        <mat-checkbox [(ngModel)]="useSMTPSecure" [disabled]="!useMailServer">SMTPサーバー接続時に暗黙的なSSL/TLSを使用する</mat-checkbox>
      </section>
    </section>
  </div>
</div>
